// LOGO
.logo {
    height: 3.25rem;
    margin-left: 2rem;
}

// SEARCH
.search {
    flex: 0 0 40%;
    // Although this is flex item, it can become flex container (nesting)
    display: flex;
    // Cross axis
    align-items: center;
    // Main axis
    justify-content: center;
    &__input {
        // Input element doesn't inherit global font settings, so it has to be explicitly set to inherit
        font-family: inherit;
        font-size: inherit;
        color: inherit;
        background-color: var(--color-grey-light-2);
        border: none;
        padding: 0.7rem 2rem;
        border-radius: 100px;
        width: 90%;
        transition: all 0.2s;
        // To go inside input
        margin-right: -3.25rem;

        &:focus {
            outline: none;
            width: 100%;
            background-color: var(--color-grey-light-3);
        }

        // Select placeholder, works only for webkit browsers
        &::-webkit-input-placeholder {
            font-weight: 100;
            color: var(--color-grey-light-4);
        }
    }

    // Select adjacent sibling
    &__input:focus + &__button {
        // Button to have same background-color as sibling input
        background-color: var(--color-grey-light-3);
    }

    &__button {
        border: none;
        background-color: var(--color-grey-light-2);

        &:focus {
            outline: none;
        }

        &:active {
            transform: translateY(2px);
        }
    }

    &__icon {
        height: 2rem;
        width: 2rem;
        // Change color of svg icon
        fill: var(--color-grey-dark-3);
    }
}

// USER NAVIGATION
.user-nav {
    align-self: stretch;
    // Turn it into flex container
    display: flex;
    align-items: center;

    // All direct children of user-nav
    & > * {
        padding: 0 2rem;
        cursor: pointer;
        height: 100%;
        display: flex;
        align-items: center;
    }

    & > *:hover {
        background-color: var(--color-grey-light-2);
    }

    &__icon-box {
        position: relative;
    }

    &__icon {
        height: 2.5rem;
        width: 2.5rem;
        fill: var(--color-grey-dark-2);
    }

    &__notification {
        font-size: 0.8rem;
        height: 1.75rem;
        width: 1.75rem;
        border-radius: 50%;
        background-color: var(--color-primary);
        color: #fff;
        position: absolute;
        top: 1.5rem;
        right: 1.1rem;

        // Flexbox can work with texts just as with elements
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__user-photo {
        height: 3.75rem;
        border-radius: 50%;
        margin-right: 1rem;
    }
}

// SIDE NAVIGATION
.side-nav {
    font-size: 1.4rem;
    list-style: none;
    margin-top: 3.5rem;

    &__item {
        position: relative;

        &:not(:last-child) {
            margin-bottom: 0.5rem;
        }
    }

    // Show before item, positioned in relation to item element
    &__item::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        // Initial width
        width: 3px;
        background-color: var(--color-primary);
        // In normal state it has to be set to 0, so nothing will be visible
        transform: scaleY(0);
        // Set 0.2s time for transform to happen, and it will wait 0.2s (fourth argument)
        // for width animation to happen (which takes 0.4s)
        // cubic-bezier is animation timing and speed (found at cubic-bezier site) for width
        transition: transform 0.2s, width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s, background-color 0.1s;
    }

    &__item:hover::before,
    &__item--active::before {
        // Add 1 to scaleY on hover state, to grow 100% in Y direction
        transform: scaleY(1);
        // On expand take full width
        width: 100%;
    }

    &__item:active::before {
        background-color: var(--color-primary-light);
    }

    &__link:link,
    &__link:visited {
        color: var(--color-grey-light-1);
        text-decoration: none;
        text-transform: uppercase;
        display: block;
        padding: 1.5rem 3rem;
        // Added only for z-index to work
        position: relative;
        z-index: 10;

        display: flex;
        align-items: center;
    }

    &__icon {
        width: 1.75rem;
        height: 1.75rem;
        margin-right: 2rem;
        // currentColor is the color of the current element or the parent element
        fill: currentColor;
    }
}

// LEGAL TEXT
.legal {
    font-size: 1.2rem;
    color: var(--color-grey-light-4);
    text-align: center;
    padding: 2.5rem;
}

// GALLERY
.gallery {
    display: flex;

    &__photo {
        // For responsive images, always put percentages for width and height
        width: 100%;
        // Add diplay: block to remove white space from image (which happens when image is display: inline
        display: block;
    }
}

// HOTEL OVERVIEW
.overview {
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--color-grey-light-2);

    &__heading {
        font-size: 2.25rem;
        font-weight: 300;
        text-transform: uppercase;
        letter-spacing: 1px;
        padding: 1.5rem 3rem;
    }

    &__stars {
        // Element will occupy only space that it needs (flexbox trick), and margin will occupy the rest of the space
        margin-right: auto;
        // To remove extra space around stars, and for vertical alignment
        display: flex;
    }

    &__icon-star,
    &__icon-location {
        width: 1.75rem;
        height: 1.75rem;
        fill: var(--color-primary);
    }

    &__location {
        font-size: 1.2rem;
        display: flex;
        vertical-align: center;
    }

    &__icon-location {
        margin-right: 0.5rem;
    }

    &__rating {
        background-color: var(--color-primary);
        color: #fff;
        margin-left: 3rem;
        padding: 0 2.25rem;
        align-self: stretch;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    &__rating-average {
        font-size: 2.25rem;
        font-weight: 300;
        margin-bottom: -3px;
    }

    &__rating-count {
        font-size: 0.8rem;
        text-transform: uppercase;
    }
}

// BUTTON INLINE
.btn-inline {
    border: none;
    color: var(--color-primary);
    font-size: inherit;
    // Border will have color of the text --color-primary
    border-bottom: 1px solid currentColor;
    padding-bottom: 2px;
    display: inline-block;
    background-color: transparent;
    cursor: pointer;
    transition: all 0.2s;

    &:hover {
        // On hover, border color will also update with --color-grey-dark-1 because of currentColor
        color: var(--color-grey-dark-1);
    }

    &:focus {
        outline: none;
        // Add animation - name/duration/infinite animation as long as button is focused
        animation: pulsate 1s infinite;
    }
}

// Animation for pulsating button
@keyframes pulsate {
    // What will happen at the beggining
    0% {
        // No scale and no box-shadow, normal state
        transform: scale(1);
        box-shadow: none;
    }

    // What will happen at the middle
    50% {
        // A little scale
        transform: scale(1.05);
        box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.25);
    }

    // What will happen at the end
    100% {
        // Back no normal
        transform: scale(1);
        box-shadow: none;
    }
}
